In [58]:
import pandas as pd

pokemon = pd.read_csv('pokemon.csv', usecols=['Pokemon'], squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [59]:
pokemon.sort_values(ascending=False).head(15)

717      Zygarde
633     Zweilous
40         Zubat
569        Zorua
570      Zoroark
262    Zigzagoon
643       Zekrom
522    Zebstrika
144       Zapdos
334     Zangoose
716      Yveltal
468      Yanmega
192        Yanma
561       Yamask
715      Xerneas
Name: Pokemon, dtype: object

In [60]:
pokemon.sort_values().head(15)

459     Abomasnow
62           Abra
358         Absol
616      Accelgor
680     Aegislash
141    Aerodactyl
305        Aggron
189         Aipom
64       Alakazam
593     Alomomola
333       Altaria
697        Amaura
423       Ambipom
590     Amoonguss
180      Ampharos
Name: Pokemon, dtype: object

In [61]:
google_stack_price = pd.read_csv('google_stock_price.csv', squeeze=True)
google_stack_price.sort_values(ascending=True).head(15)

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
7     50.95
14    51.10
13    51.10
8     51.13
3     52.38
15    52.61
4     52.95
6     53.02
16    53.70
5     53.90
Name: Stock Price, dtype: float64

In [62]:
google_stack_price.sort_values(ascending=False).head(15)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
3008    771.07
2860    771.00
3006    768.79
2840    767.04
2843    766.81
2934    766.61
2882    764.65
2844    763.25
2858    762.51
2841    762.38
Name: Stock Price, dtype: float64