In [52]:
import pandas as pd

nba=pd.read_csv('nba.csv')
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0

In [53]:
nba["Number"].add(1).head()

0      1
1    100
2     31
3     29
4      9
Name: Number, dtype: int64

In [54]:
nba["Number"]+2
(nba["Number"]+2).head()

0      2
1    101
2     32
3     30
4     10
Name: Number, dtype: int64

In [55]:
nba["Age"].head()

0    25
1    25
2    27
3    22
4    29
Name: Age, dtype: int64

In [56]:
nba["Age"].sub(1).head()

0    24
1    24
2    26
3    21
4    28
Name: Age, dtype: int64

In [57]:
(nba["Age"]-1).head()

0    24
1    24
2    26
3    21
4    28
Name: Age, dtype: int64

In [58]:
nba["Weight"].head()

0    180
1    235
2    205
3    185
4    231
Name: Weight, dtype: int64

In [59]:
nba["Weight"].mul(2).head()

0    360
1    470
2    410
3    370
4    462
Name: Weight, dtype: int64

In [60]:
(nba["Weight"]*2).head()

0    360
1    470
2    410
3    370
4    462
Name: Weight, dtype: int64