In [38]:
import pandas as pd

google = pd.read_csv('google_stock_price.csv')
google

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

In [39]:
google.count()

Stock Price    3012
dtype: int64

In [40]:
len(google)

3012

In [41]:
google.sum()

Stock Price    1006942.0
dtype: float64

In [42]:
google.mean()

Stock Price    334.310093
dtype: float64

In [43]:
google.sum()/google.count()

Stock Price    334.310093
dtype: float64

In [44]:
google.median()

Stock Price    283.315
dtype: float64

In [45]:
google.std()

Stock Price    173.187205
dtype: float64

In [46]:
google.min()

Stock Price    49.95
dtype: float64

In [ ]:
google.max()