In [14]:
import pandas as pd

nba=pd.read_csv('nba.csv')
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0

In [15]:
nba.fillna(0).head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,0.0
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,0,5000000.0

In [16]:
nba["Salary"].fillna(0).head()

0    7730337.0
1    6796117.0
2          0.0
3    1148640.0
4    5000000.0
Name: Salary, dtype: float64

In [17]:
nba["Salary"].fillna(0, inplace=True)
nba["Salary"].head()

0    7730337.0
1    6796117.0
2          0.0
3    1148640.0
4    5000000.0
Name: Salary, dtype: float64

In [ ]:
nba["College"].fillna("No College").head()